<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[${page_title}]]</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/ionicons.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/style_detail.css" rel="stylesheet">

</head>
<body>
<div th:replace="header :: header">Header</div>

<section class="section blog-area">
    <div class="container">
        <div class="row" style="background: white; padding: 20px;">
            
            <div class="col-lg-8 col-md-12">
                <div class="blog-posts">
                    
                    <div class="single-post">
                        <div class="container">
                            <div id="app"></div>
                        </div>
                    </div><!-- single-post -->
                
                </div><!-- blog-posts -->
            </div><!-- col-lg-4 -->
            
            <div th:replace="sidebar :: sidebar">Sidebar</div>
        
        </div><!-- row -->
    </div><!-- container -->
</section><!-- section -->

<div th:replace="footer :: footer">Footer</div>
<script src="/built/bundle.js"></script>

</body>
</html>
