<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<footer>
    <div class="container" th:fragment="footer">
        <div class="row">

            <div class="col-sm-6">
                <div class="footer-section">
                    <p class="copyright">&copy; 2018. All rights reserved.
                    </p>
                </div><!-- footer-section -->
            </div><!-- col-lg-4 col-md-6 -->

        </div><!-- row -->
    </div><!-- container -->
</footer>

<script src="https://raw.githubusercontent.com/stevenschobert/instafeed.js/master/instafeed.min.js"></script>
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>