<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>

<header>

    <nav class="navbar fixed-top navbar-light bg-light">

        <div class="top-menu" style="box-shadow: 0px 1px 1px rgba(0,0,0, .3);">

            <ul class="left-area welcome-area">
                <li class="hello-blog">[[#{header_txt}]]</li>
                <li><a href="mailto:vasa.julian@gmail.com">vasa.julian@gmail.com</a></li>
            </ul><!-- left-area -->


            <div class="right-area">

                <div class="src-area">
                    <form action="post">
                        <input class="src-input" type="text" th:placeholder="#{search}">
                        <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                    </form>
                </div><!-- src-area -->

                <ul class="social-icons">
                    <li><a target="_blank" href="https://github.com/julianvasa">
                        <i class="ion-social-github"></i></a></li>
                    <li><a href="?lang=sq">AL &nbsp;<img src="/img/al_rounded.png" alt="Shqip"
                                                         style="width:20px;"/></a></li>
                    <li><a href="?lang=en">EN &nbsp;<img src="/img/en_rounded.png" alt="English"
                                                         style="width:20px"/></a></li>

                </ul><!-- right-area -->

            </div><!-- right-area -->

        </div><!-- top-menu -->
    </nav>

    <div class="middle-menu center-text"><a href="/"><img
            src="/img/logo.png"></a></div>

    <div class="bottom-area">

        <div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

        <ul class="main-menu visible-on-click" id="main-menu">
            <li><a href="/">HOME</a></li>
            <li class="drop-down"><a href="#">[[#{categories}]]<i class="ion-ios-arrow-down"></i></a>
                <ul class="drop-down-menu">
                    <li th:each="cat : ${categories}"><span
                            class="badge badge-warning float-right mt-3" style="margin-right: 5px;"
                            th:text="${cat.count}"></span><a th:href="@{/1/cat/}+${cat.id}"
                                                             th:text="${cat.name}"></a>
                    </li>

                </ul>
            </li>
            <li><a href="#">[[#{add}]]</a></li>
            <li><a href="#">[[#{about}]]</a></li>
        </ul><!-- main-menu -->

    </div><!-- conatiner -->
</header>
